* {
    padding: 0;
    margin: 0;
 
}

header {
    background-color: rgb(81, 172, 100)
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    align-items: center;
}

.logo {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 900;
}

.nav-itens {
    list-style: none;
    display: flex;
}

.nav-itens>li>a {
    text-decoration: none;
    color: black;
    padding-left: 20px
}

.login {
    padding: 10px 40px;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.login:hover {
    background-color: rgb(114, 113, 113);
}

.Cadastro {
    padding: 10px 40px;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.cadastro:hover {
    background-color: rgb(114, 113, 113);
    ;
}
.title{
    font-size: 25;
    font-family: sans-serif;
}
footer {
    background-color: rgb(59, 59, 59);
}

.footercontainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.icons a i {
    font-size: 2em;
    color: black;
    opacity: 0, 9;
}

/* Hover Effect on social media icons */
.icons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.icons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerbutton {
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerbutton p {
    color: white;
    font-size: 20px;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
.h1{
    font-family: sans-serif;
 margin-left: 5px;
}
.h2{
    font-family: sans-serif;
 margin-left: 5px;
}
.h3{
    font-family: sans-serif;
 margin-left: 5px;
 font-size: 18px;}
.imagem1{
border-radius: 50px;
    margin-top: 50px;
    margin-right: 20px;
}
.img2{
   border-radius: 50px;
   margin-left: 5px;
    max-width:650px;
    max-height:400px;
    width: auto;
    height: auto; 
}
.imagem3{
    border-radius: 50px;
    max-width:630px;
    max-height:650px;
    width: auto;
    height: auto;
    margin-right: 20px;
}
    .imagem4 {
    border-radius: 50px;
    max-width:630px;
    max-height:950;
    width: auto;
    height: auto;
    margin-right: 20px;
    }
    .imagem5{
        border-radius: 50px;
        max-width:630px;
        max-height:650px;
        width: auto;
        height: auto;
    }
.container{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: sans-serif;
}
.container2{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: sans-serif; 

}
.container3{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: sans-serif; 
}